{% extends 'mypf/base.html' %}

{% block content %}
    <div class="container">
    	<div class="row justify-content-center margin">
    		<div class="pflink1">
    			<center>
    			<img class="img-fluid" name="srcapi" src="static/mypf/img/hello.jpg" />	
    		</center>
    			<p> I am Moksha Sood! </p>

    	</div>
    </div>
    <section class="text-white mb-0 margin" id="about">
	  <div class="container">
		<h2 class="text-center text-uppercase text-white">About</h2>
		<hr class="star-light mb-5">
		<div class="row">
		  <div class="col-lg-4 ml-auto about-1">
			<p class="lead">I'm a Machine Learning enthusiast with knowledge of Regression algorithms, Neural networks and CNNs as well as libraries like Tensorflow and Keras </p>
		  </div>
		  <div class="col-lg-4 mr-auto about-2">
			<p class="lead">I'm also a Web Developer with knowledge of HTML,CSS,javascript. Frameworks known: React(Frontend) and Django(Backend) </p>
		  </div>
		</div>
		<div class="text-center mt-4">
		  <a class="btn btn-xl btn-cv" href="/static/mypf/files/Resume_Moksha_Sood (1).pdf" download>
			<i class="fas fa-download mr-2"></i>
			Download CV
		  </a>
		</div>
	  </div>
	</section>
	<section>
		<div class="row justify-content-center margin">
			<div class="text-white mb-0 margin" id="about">
		<h2 class="text-center text-uppercase text-white"> Tools and Technologies</h2>
		<hr class="star-light mb-5">
		<ul class="list-inline mb-0">
			<li class="list-inline-item">
				<img src="static/mypf/img/python.jpg" height="75" width="75" alt="python" />
			</li>
			<li class="list-inline-item">
				<img height="75" width="75" src="static/mypf/img/cpp.png" alt="C++"/>
			</li>
			<li class="list-inline-item">
				<img width="75" height="75" alt="HTML" src="static/mypf/img/html.png"/>
			</li>
			<li class="list-inline-item">
				<img width="75" height="75" alt="CSS" src="static/mypf/img/css.png"/>
			</li>
			<li class="list-inline-item">
				<img width="75" height="75" alt="Javascript" src="static/mypf/img/javascript.png">
			</li>
			<li class="list-inline-item">
				<img width="75" height="75" alt="React" src="static/mypf/img/react.png"/>
			</li>
			<li class="list-inline-item">
				<img width="75" height="75" alt="Django" src="static/mypf/img/django.png">
			</li>
			<li class="list-inline-item">
				<img width="75" height="75" alt="Tensorflow" src="static/mypf/img/tensorflow.png">
			</li>
			<li class="list-inline-item">
				<img width=75 height="75" alt="Numpy" src="static/mypf/img/numpy.png">
			</li>
			<li class="list-inline-item">
				<img width="75" height="75" alt="Pandas" src="static/mypf/img/pandas.png">
			</li>
		</ul>
	</div>
</div>
</section>
{% endblock %}